<meta http-equiv="Content-Type" Content="text/html;charset=UTF-8">
<link rel="stylesheet" href="/css/application.css">
<!-- unless_tor -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!-- unless_tor -->

<!-- favicon_link_tag -->
<meta name="robots" content="all" />
<link href="https://plus.google.com/100183759660923071401" rel="publisher" />
<!-- csrf_meta_tags -->
<meta name="title" content="Make Your Laws: {{.Title}}" />
<title>Make Your Laws: {{.Title}}</title>

<!-- mixpanel -->
